.nav-links {
  padding: 12px 180px;
  background: linear-gradient(
    to right,
    rgba(232, 250, 72, 0.794),
    rgba(222, 200, 52, 0.794),
    rgba(212, 150, 32, 0.794)
  );
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  text-shadow: 3px 3px 3px grey;
}

.nav-links :hover {
  border-radius: 10;
  color: grey;
  text-shadow: 1px 1px 1px white;
}

.nav-link {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  padding: 6px 24px;
  font-size: 20px;
  text-shadow: 2px, 2px, black;
}
