.objDiv {
  margin: auto;
  width: 30%;
  border: 3px, solid white;
  padding-top: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.objInput {
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.objButton {
  background-color: orange;
  width: 200px;
  border: 3px solid white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
}

.objLabel {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

.objResults {
    background-color: orange;
    margin: auto;
    width: fit-content;
    height: fit-content;
    border: 3px solid white;
    padding: 10px;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    word-wrap: break-word;
    text-align: center;
  }
