.apiDiv {
  margin: auto;
  width: 30%;
  border: 3px, solid white;
  padding-top: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.apiInput {
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  box-shadow: 2px 2px 2px lightgrey;
}

.apiButton {
  background: linear-gradient(
    to right,
    rgba(222, 200, 52, 0.794),
    rgba(212, 150, 32, 0.794)
  );
  width: 200px;
  border: 3px solid white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px lightgrey;
}

.apiButton:hover {
  opacity: 0.75;
  box-shadow: 1px 1px 1px lightgrey;
}

.apiLabel {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px black;
}

.apiLabel:hover{
  text-shadow: 1px 1px black;
}

.apiResults {
  background: linear-gradient(
    to right,
    rgba(222, 200, 52, 0.794),
    rgba(212, 150, 32, 0.794)
  );
  margin: auto;
  width: fit-content;
  height: fit-content;
  border: 3px solid white;
  padding: 10px;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  word-wrap: break-word;
  text-align: center;
  box-shadow: 2px 2px 2px lightgrey;
  text-shadow: 2px 2px black;
}
